<mat-toolbar id="navbar" class="px-4" color="primary">
  <span (click)="toggleSidebar()" class="clickable unselectable">
    <i class="fas fa-bars fa-lg text-light"></i>
  </span>
  <a [routerLink]="['']" class="ms-5 clickable unselectable d-none d-sm-block">
    <!-- <img src="../../../../assets/img/logo.png" class="img-fluid"> -->
    <span class="one6">
      <i class="fas fa-fw fa-o"></i>
      <i class="fas fa-fw fa-n"></i>
      <i class="fas fa-fw fa-e"></i>
      <i class="fas fa-fw fa-6"></i>
    </span>
    <span class="shops">
      <i class="fas fa-fw fa-s"></i>
      <i class="fas fa-fw fa-h"></i>
      <i class="fas fa-fw fa-o"></i>
      <i class="fas fa-fw fa-p"></i>
      <i class="fas fa-fw fa-s"></i>
    </span>
  </a>
  <!-- Lado izquierdo de la barra -->
  <span class="ms-auto">
    <button mat-icon-button class="unselectable me-4" tooltip="Usuario" (click)="userMenu.toggle($event)">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button class="unselectable" tooltip="Settings" (click)="configMenu.toggle($event)">
      <mat-icon>settings</mat-icon>
    </button>
  </span>
</mat-toolbar>
<p-tieredMenu #userMenu [model]="userItems" [popup]="true"></p-tieredMenu>
<p-tieredMenu #configMenu [model]="configItems" [popup]="true"></p-tieredMenu>
