<!-- La animación de carga es horrible. showLoader = false la quita, pero lo suyo seria modificar la animacion -->
<p-table #usersTable [value]="users" dataKey="_id" [loading]="loading">
  <ng-template pTemplate="header">
      <tr>
          <th></th>
          <th>Email</th>
          <th>Nombre</th>
          <th>Phone</th>
          <th>Last connection</th>
          <th class="text-center"></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user let-i="rowIndex">
      <tr>
          <td>
              <span>
                  <img class="rounded-circle" [src]="getAvatarPath(user)">
              </span>
          </td>
          <td>
              <span class="p-column-title">
                Email
              </span>
              <span>
                  {{ user.email }}
              </span>
          </td>
          <td>
              <span class="p-column-title">
                Name
              </span>
              <span>
                  {{ user.name }}
              </span>
          </td>
          <td>
              <span class="p-column-title">
                Phone
              </span>
              <span>
                  {{ user.phone }}
              </span>
          </td>
          <td>
              <span class="p-column-title">
                Last Connection
              </span>
              <span>
                  {{ user.lastConnection | date: 'medium' }}
              </span>
          </td>
          <td class="text-center">
            <button mat-icon-button color="primary" tooltip="Edit" *ngIf="hasPermission('editUser') | async" [routerLink]="['.', user._id, 'edit']">
              <i class="fas fa-pen"></i>
            </button>
            <button #deleteButton mat-icon-button color="warn" tooltip="Delete" *ngIf="hasPermission('deleteUser') | async" (click)="deleteUser(deleteButton, user, i)">
              <i class="fas fa-trash"></i>
            </button>
          </td>
      </tr>
  </ng-template>
</p-table>
<p-confirmPopup [autoZIndex]="false" [style]="{ zIndex: '2000' }" [reverse]="true"></p-confirmPopup>
