<div class="row">
    <div class="col-12">
        <form #formDom>
            <mat-tab-group [dynamicHeight]="true">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>account_circle</mat-icon>
                        <span class="ms-2">Account</span>
                      </ng-template>
                      <div class="tab-container">
                          <usuario-form-cuenta #accountTab [form]="form" [user]="user" (loadingData)="loadingData" [$submitted]="$submitted"></usuario-form-cuenta>
                      </div>
                </mat-tab>
                <mat-tab *ngIf="hasPermission('editUserPermissions') | async">
                    <ng-template mat-tab-label>
                        <mat-icon>bar_chart</mat-icon>
                        <span class="ms-2">Permissions</span>
                    </ng-template>
                    <div class="tab-container">
                      <usuario-form-permissions #permissionsTab [form]="form" [user]="user" (loadingData)="loadingData"></usuario-form-permissions>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </form>
    </div>
</div>
