<div class="d-flex border-top border-bottom py-3 mb-3">
    <div class="font-weight-normal my-auto h3 d-flex">
        <i *ngIf="!profile" class="fas fa-user me-2"></i>
        <span class="ms-2" *ngIf="!profile">Editing user {{ user?.email }}</span>
        <img class="align-self-center rounded-circle" *ngIf="profile" [src]="avatarPath">
        <span class="ms-2" *ngIf="profile">Your account</span>
    </div>
</div>
<usuario-form-base *ngIf="user" [form]="usuarioForm" [user]="user" [$submitted]="submitted"></usuario-form-base>
<div class="d-flex my-3">
  <button mat-raised-button class="ms-3" color="accent" (click)="submitForm()">
    <i class="fas fa-plus me-2"></i>
    <span>Save</span>
  </button>
</div>
