.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.cursor-text {
  cursor: text;
}

.chip {
  display: flex;
  flex-direction: row;
  align-items: center;

  & .disabled {
    pointer-events: none;
  }

  &.with-background {
    padding: 0.75em;

    & .chip-suffix {
      padding-inline-start: 0.5em;
    }

    & .chip-value {
      margin-left: 0.5em;
    }

    & .chip-placeholder {
      padding-left: 0.5em;
    }
  }

  & .chip-placeholder {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    z-index: -1;
  }

  & .chip-prefix {
    padding-inline-end: 0.5em;
  }

  & .chip-value {
    width: 100%;
    min-width: 0.5em;
    outline: none;

    &.chip-hide-value {
      display: none;
    }

    &:focus {
      border-bottom: 1px solid;
      margin-bottom: -1px;
    }
  }

  & .chip-suffix {
    padding-inline-start: 0.5em;
  }

  & .chip-number-actions {
    display: flex;
    flex-direction: column;
    row-gap: 0.25em;
    cursor: auto;
    margin-inline-end: 0.5em;
    margin-inline-start: 0.5em;
    user-select: none;
  }

  & .chip-actions {
    display: flex;
    flex-direction: row;
    column-gap: 0.75em;
    cursor: auto;
    margin-inline-start: auto;
    padding-inline-start: 0.75em;
  }
}
