<div class="row" [formGroup]="form">
    <div class="col-lg-8 col-md-6 col-12">
        <div class="row mb-4">
            <div class="col-12">
              <div class="p-inputgroup">
                <span class="p-float-label">
                    <input formControlName="name" id="inputName" type="text" pInputText>
                    <label for="inputName">Full name</label>
                </span>
              </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12">
              <div class="p-inputgroup">
                <span class="p-input-icon-left p-float-label">
                    <i class="pi pi-envelope" *ngIf="!form.get('email')?.dirty"></i>
                    <i class="pi pi-spin pi-spinner" *ngIf="form.get('email')?.pending"></i>
                    <i class="pi feedbackIconEmail" [ngClass]="form.get('email')?.errors ? 'pi-times' : 'pi-check'" *ngIf="form.get('email')?.dirty && !form.get('email')?.pending"></i>
                    <!-- radius-right-0 used to fix styles -->
                    <input formControlName="email" id="inputEmail" type="text" required pInputText>
                    <label for="inputEmail">Email*</label>
                </span>
              </div>
              <div class="invalid-form-message" *ngIf="(submitted || form.get('email')?.touched || form.get('email')?.dirty) && form.get('email')?.errors">
                <div *ngIf="form.get('email')?.hasError('required')">
                    Required field
                </div>
                <div *ngIf="form.get('email')?.hasError('uniqueEmail')">
                    Email is already in use
                  </div>
              </div>
            </div>
        </div>
        <div class="row mb-4">
          <div class="col-12 mb-4 mb-md-0 col-md-6">
            <div class="p-inputgroup">
              <span class="p-float-label">
                  <input formControlName="password" id="inputPassword" type="password" pInputText>
                  <label for="inputPassword">Password*</label>
              </span>
            </div>
            <div class="invalid-form-message" *ngIf="(submitted || form.get('password')?.touched || form.get('password')?.dirty) && form.get('password')?.errors">
              <div *ngIf="form.get('password')?.hasError('required')">
                  Required field
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="p-inputgroup">
              <span class="p-float-label">
                  <input formControlName="passwordConfirm" id="inputPasswordConfirm" type="password" pInputText>
                  <label for="inputPasswordConfirm">Confirm Password</label>
              </span>
            </div>
            <div class="invalid-form-message" *ngIf="(submitted || form.get('passwordConfirm')?.touched || form.get('passwordConfirm')?.dirty) && form.get('passwordConfirm')?.errors">
              <div *ngIf="form.get('passwordConfirm')?.hasError('doesntMatch')">
                Passwords do not match
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-sm-4">
            <div class="col-12">
              <div class="col-12 d-flex">
                  <p-dropdown id="inputRole" (onChange)="updatePermissions($event)" [showClear]="true" formControlName="role" class="d-flex flex-fill"
                      [styleClass]="'flex-fill'" [options]="roles || []" optionLabel="name"
                      optionValue="_id" placeholder="Select a role..." appendTo="body"></p-dropdown>
              </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
        <div class="row unselectable">
            <div class="col-md-12 order-2 order-md-1 col-6 mb-3 d-flex">
                <div class="mx-auto align-self-center selectedUserAvatar d-flex"
                    [class.nothingSelectedAvatar]="!selectedAvatar || imgLoading">
                    <i class="pi pi-spinner pi-spin mx-auto my-auto" *ngIf="imgLoading"></i>
                    <img class="img-fluid selectedUserAvatar" *ngIf="selectedAvatar && !imgLoading"
                        [src]="sanitizeUrl(selectedAvatar)">
                </div>
            </div>
            <div class="col-12 mx-auto order-1 order-md-2 mb-2 d-flex">
                <span class="mx-auto text-secondary">Recommended resolution: 256x256px</span>
            </div>
            <div class="col-md-11 order-3 order-md-3 col-6 mx-auto d-flex rounded">
                <div class="row">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-6 mb-2 align-self-center">
                        <div (click)="inputAvatar.click()"
                            class="uploadAvatar rounded-circle mx-auto d-flex clickable" tooltip="Subir avatar">
                            <mat-icon class="mx-auto my-auto text-secondary">upload</mat-icon>
                        </div>
                        <input #inputAvatar id="inputAvatar" (change)="selectUploadedAvatar($event)" type="file"
                            class="d-none" accept="image/jpeg,image/jpg,image/png">
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-6 mb-2 d-flex align-self-center"
                        *ngFor="let avatar of defaultAvatars">
                        <img (click)="selectAvatar(avatar)"
                            class="defaultAvatar rounded-circle mx-auto clickable"
                            [class.activeAvatar]="selectedAvatar == avatar" [src]="avatar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
