* {
  box-sizing: border-box;
  transition: background-color 0.3s;
    transition-timing-function: ease, ease, ease, ease, cubic-bezier(0.64, 0.09, 0.08, 1);
    transition-delay: 0s, 0s, 0s, 0s, 0s;
}

body, html {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #5bb2dd;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #5ac7fd;
  border-radius: 10px;
}

.clickable {
  cursor: pointer;
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radius-right-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

// Los formularios tapan los iconos porque tienen z-index: 1
i.pi {
  z-index: 2;
}

.invalid-form-message {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
}

.p-menuitem span.p-menuitem-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal-dialog {
  & .modal-header, .modal-footer {
    border: 0;
  }
}

// .form-control, .p-multiselect, .p-dropdown {
//   border-radius: 0;
//   height: 50px;
// }

// .p-multiselect-panel, .p-dropdown-panel {
//   border-radius: 0;
// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
