@use 'sass:map';
@use '@angular/material' as mat;

//
//  LIGHT THEME
//
$light-primary: mat.define-palette(mat.$indigo-palette, 500);
$light-accent: mat.define-palette(mat.$light-green-palette, 800);

// The "warn" palette is optional and defaults to red if not specified.
$light-warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme((
 color: (
   primary: $light-primary,
   accent: $light-accent,
   warn: $light-warn,
 )
));

// Background color
$light-background-color: #fafafa;
$light-background: map.get($light-theme, 'background');
$light-background: map.merge($light-background, ('background': $light-background-color));
$light-theme: map.merge($light-theme, ('background': $light-background));


//
// DARK THEME
//
$dark-primary: mat.define-palette(mat.$blue-gray-palette, 700);
$dark-accent: mat.define-palette(mat.$teal-palette, 800);

// The "warn" palette is optional and defaults to red if not specified.
$dark-warn: mat.define-palette(mat.$brown-palette, 600);

$dark-theme: mat.define-dark-theme((
 color: (
   primary: $dark-primary,
   accent: $dark-accent,
   warn: $dark-warn,
 )
));

// Background color
$dark-background-color: #1a1a1a;
$dark-background: map.get($dark-theme, 'background');
$dark-background: map.merge($dark-background, ('background': $dark-background-color));
$dark-theme: map.merge($dark-theme, ('background': $dark-background));

// Default dark theme
$theme: $dark-theme;

// $bootstrap-primary: map.get($dark-primary, 700);
// $bootstrap-secondary: map.get($dark-accent, 800);
// $bootstrap-warning: map.get($dark-warn, 500);

@use './app/app-theme.component' as app;
@use './app/modules/shared/components/navbar/navbar-theme.component' as navbar;
@use './app/modules/users/components/form/base/cuenta/cuenta-theme.component' as usuarioFormCuenta;
@use './app/modules/shared/components/slider-indeterminate/slider-indeterminate-theme.component' as sliderIndeterminate;

@include mat.all-component-themes($theme);
@include app.theme($theme);
@include navbar.theme($theme);
@include usuarioFormCuenta.theme($theme);
@include sliderIndeterminate.theme($theme);

@import '/node_modules/primeng/resources/themes/md-dark-indigo/theme';

$dark-color-config: mat.get-color-config($dark-theme);
$dark-primary-palette: map.get($dark-color-config, 'primary');
$dark-accent-palette: map.get($dark-color-config, 'accent');
$dark-warn-palette: map.get($dark-color-config, 'warn');

.invalid-form-message {
  color: mat.get-color-from-palette($dark-warn-palette, 100);
}

form.ng-submitted input.ng-invalid {
  border-color: #b00020;
}

.modal-content {
  background-color: $dark-background-color !important;
  color: #fff !important;
}

body.light-theme {
  // $bootstrap-primary: map.get($light-primary, 500);
  // $bootstrap-secondary: map.get($light-accent, 800);
  // $bootstrap-warning: map.get($light-warn, 500);

  $theme: $light-theme;
  $light-color-config: mat.get-color-config($light-theme);
  $light-primary-palette: map.get($light-color-config, 'primary');
  $light-accent-palette: map.get($light-color-config, 'accent');
  $light-warn-palette: map.get($light-color-config, 'warn');

  .invalid-form-message {
    color: mat.get-color-from-palette($light-warn-palette, 500);
  }

  form.ng-submitted input.ng-invalid {
    border-color: #f44435;
  }

  .modal-content {
    background-color: $light-background-color !important;
    color: #000 !important;
  }

  @include mat.all-component-themes($theme);
  @include app.theme($theme);
  @include navbar.theme($theme);
  @include usuarioFormCuenta.theme($theme);
  @include sliderIndeterminate.theme($theme);

  @import '/node_modules/primeng/resources/themes/md-light-indigo/theme';
}

// $theme-colors: (
//   primary: $bootstrap-primary,
//   secondary: $bootstrap-secondary,
//   warning: $bootstrap-warning
// );

@import 'bootstrap';
